.sources-list {
  margin: 0;
  padding: 0;
  width: 16em;
  overflow-y: scroll;
  background: rgb(0, 0, 0);
  list-style: none;
  user-select: none;
  cursor: default;
  font-size: 1em;

  > li {
    padding: .4em;
    color: rgb(183, 183, 183);
    position: relative;

    > input {
      padding: 0;
      border: none;
    }

    .sub {
      font-size: .8em;
    }
  }

  > li:nth-child(odd) {
    background: rgb(30, 30, 30);
  }

  > li.selected {
    background: rgb(142, 142, 134);
    color: rgb(0, 10, 10);
  }

  > li.dragging {
    opacity: 0.8;
  } 
}